.button {
    width: 250px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Плавный переход для всех кнопок */
}

.primary {
    background: rgb(33,88,129);
    background: linear-gradient(153deg, rgba(33,88,129,1) 0%, rgba(23,120,114,1) 98%);
    color: white;
}

.primary:hover {
    background: linear-gradient(153deg, rgba(23,120,114,1) 0%, rgba(33,88,129,1) 98%); /* Перевернутая градиентная заливка */
    color: #e0e0e0; /* Немного светлее текст */
}

.secondary {
    background-color: transparent;
    color: #3289C8;
    border: 2px solid #3289C8;
}

.secondary:hover {
    background-color: #3289C8; /* Становится сплошной при наведении */
    color: white;
}

.outline {
    background-color: white;
    color: #3289C8;
    border: 2px solid #3289C8;
}

.outline:hover {
    background-color: #3289C8; /* Заливка цветом при наведении */
    color: white;
}
