.stockWidget {
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.widgetTitle {
    font-size: 24px;
    font-weight: bold;
    color: #215881;
    margin-bottom: 20px;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.productCard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.productCard:hover {
    /* transform: scale(1.02); */
    box-shadow: -1px 9px 12px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 9px 12px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 12px -11px rgba(0, 0, 0, 0.75);
}

.productImage {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

.productName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.productLink {
    color: #215881;
    text-decoration: none;
    font-weight: bold;
}

.productLink:hover {
    text-decoration: underline;
}