.productsSection {
    padding: 0 100px 0 100px;
    text-align: center;
    margin-top: 100px;

}

.sectionTitle {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #215881;
}

.sectionDescription {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.productsGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца по умолчанию */
}

/* Адаптация для экранов средней ширины (например, планшеты) */
@media (max-width: 1200px) {
    .productsGrid {
        grid-template-columns: repeat(3, 1fr); /* 3 столбца */
    }
}

/* Адаптация для маленьких экранов (например, мобильные устройства) */
@media (max-width: 768px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 столбца */
    }
}

/* Адаптация для очень узких экранов */
@media (max-width: 480px) {
    .productsGrid {
        grid-template-columns: 1fr; /* 1 столбец */
    }
}


.productCard {
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.productCard:hover {
    transform: scale(1.05);
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.productName {
    font-size: 18px;
    font-weight: bold;
    color: #215881;
    margin-bottom: 10px;
}

.productDescription {
    font-size: 14px;
    color: #666;
}
