.productsSection {
    padding: 0 100px;
    text-align: center;
    margin-top: 100px;
}

.sectionTitle {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #215881;
}

.sectionDescription {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.productsGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца по умолчанию */
}

.productCard {
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.productCard:hover {
    transform: scale(1.05);
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.productName {
    font-size: 18px;
    font-weight: bold;
    color: #215881;
    margin-bottom: 10px;
}

.productDescription {
    font-size: 14px;
    color: #666;
}

/* Адаптивные стили */

/* Большие экраны (от 1200px) */
@media (min-width: 1200px) {
    .productsSection {
        padding: 0 100px;
    }

    .sectionTitle {
        font-size: 70px;
    }
}

/* Средние экраны (от 769px до 1199px) */
@media (max-width: 1199px) and (min-width: 769px) {
    .productsSection {
        padding: 0 50px;
    }

    .sectionTitle {
        font-size: 50px;
    }

    .productsGrid {
        grid-template-columns: repeat(3, 1fr); /* 3 столбца */
    }
}

/* Малые экраны (до 768px) */
@media (max-width: 768px) {
    .productsSection {
        padding: 0 20px;
        margin-top: 50px;
    }

    .sectionTitle {
        font-size: 40px;
    }

    .sectionDescription {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .productsGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 столбца */
    }

    .productCard {
        padding: 15px;
    }

    .productName {
        font-size: 16px;
    }

    .productDescription {
        font-size: 12px;
    }
}

/* Очень малые экраны (до 480px) */
@media (max-width: 480px) {
    .sectionTitle {
        font-size: 32px;
    }

    .productsGrid {
        grid-template-columns: repeat(2, 1fr); /* 2 столбца */
    }

    .productCard {
        padding: 10px;
    }

    .productName {
        font-size: 14px;
    }

    .productDescription {
        font-size: 12px;
    }
}
