.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(13, 48, 74);
    background: linear-gradient(153deg, rgba(13, 48, 74, 1) 0%, rgba(17, 33, 32, 1) 98%);
    padding: 0 100px;
    width: 100%;
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 50% 100%, 0 95%);
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 92px;
    gap: 7vw;
    flex-direction: row;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.phoneNumber {
    display: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.logo {
    width: 150px;
    height: 35px;
    fill: white;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #ecf3ab;
}

.logoMenu {
    display: none;
    width: 30px;
    height: 30px;
    fill: white;
    cursor: pointer;
    margin-left: 20px;
}

.menu {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    z-index: 10;
}

.menuOpen {
    display: flex;
}

.menuHidden {
    display: none;
}

.menu span {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'PT Sans', sans-serif;
    user-select: none;
    position: relative;
    padding-bottom: 5px;
}

.menu span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: width 0.3s ease;
}

.menu span:hover::after {
    width: 100%;
    background-color: #56c6d7;
}

.menu span:hover {
    transition: color 0.3s ease;
}

.contact span {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.heroText {
    width: 700px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.heroText h1 {
    color: white;
    font-size: 44px;
    font-family: 'PT Sans', sans-serif;
}

.heroText span {
    color: #c3c3c3;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.headlineSection {
    width: 400px;
}

/* Адаптивные стили */

/* Большие экраны */
@media (min-width: 1200px) {
    .container {
        padding: 0 100px;
    }

    .logo {
        width: 150px;
        height: 35px;
    }

    .menu span {
        font-size: 18px;
    }

    .heroText {
        width: 700px;
        margin-top: 100px;
        gap: 75px;
    }

    .heroText h1 {
        font-size: 44px;
    }

    .heroText span {
        font-size: 25px;
    }


}

/* Средние экраны (планшеты и небольшие ноутбуки) */
@media (max-width: 1199px) and (min-width: 769px) {
    .container {
        padding: 0 50px;
        height: auto;
        clip-path: none;
    }

    .navbar {
        padding-top: 50px;
    }

    .logo {
        width: 130px;
        height: 30px;
    }

    .menu {
        gap: 20px;
    }

    .menu span {
        font-size: 16px;
    }

    .heroText {
        width: 100%;
        margin-top: 80px;
        gap: 50px;
    }

    .heroText h1 {
        font-size: 36px;
    }

    .heroText span {
        font-size: 20px;
    }


}

/* Малые экраны (мобильные) */
@media (max-width: 768px) {
    .container {
        padding: 0 20px 100px 20px;
        height: auto;
        clip-path: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        gap: 20px;
    }

    .logoBlock {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        width: 120px;
        height: 28px;
    }

    .phoneNumber {
        display: none;
    }

    .logoMenu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .menuOpen {
        display: flex;
    }

    .contact {
        display: none;
    }

    .heroText {
        width: 100%;
        margin-top: 50px;
        gap: 20px;
    }

    .heroText h1 {
        font-size: 28px;
    }

    .heroText span {
        font-size: 18px;
    }

    .headlineSection {
        width: 100%;
    }


}